:root {
--poop-brown: #91562dff;
--red-pigment: #ed3124ff;
--dark-jungle-green: #0d160bff;
--french-lilac: #785589ff;
--silver: #c1c1c1ff;
}

.img-logo {
    width: 5rem;
}

.img-search {
    width: 5rem;
    padding: 0;
}

.card-films {
    width: 18rem;
    
}

.img-carousel {
    width: 100%;
    height: 100%;
    
}

.div-h5-40 {
    width: 40% !important;
}

.div-h5-50 {
    width: 40% !important;
}
